@use "../../assets/sass/variables" as *;

.search-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  .searchInput {
    border-radius: 20px;
    border: none;
    height: 30px;
    background: white;
    margin: 10px 3px 10px 30px;
    padding-left: 4px; 
}
    
  }

  
  
