@use "../../assets/sass/variables.scss"as *;

.beer-tiles {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;



.beer-images {
  height: auto;
  max-width: 150px;
  margin-left: auto;
  border-radius: 15px;
    box-shadow: 10px 10px 20px rgba($color-primary, 0.50);
    margin: auto auto 10px auto;
}
.beer-name {
  text-align: center;
  margin-bottom: 10px;
  margin: auto auto 10px auto;

}
.beer-description {
  margin: auto;
  font-style: italic;
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
  width: 80%;
}

.beer-ABV {
  text-align: center;
  font-weight: bold;
  border: 1px solid $color-secondary;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;

  
}

.about-button {
  background-color: white;
  border: solid 2px $color-secondary;
  cursor:pointer;
  color: $color-one;
  width: 50%;
  height: 30px;
  
  margin: auto auto 10px auto;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba($color-primary, 0.60);
  
}

}



