@use "../../assets/sass/variables.scss"as *;

.beer-tiles {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;



.beer-images {
  height: auto;
  max-width: 150px;
  margin-left: 100px;
  border-radius: 15px;
    box-shadow: 10px 10px 20px rgba($color-primary, 0.50);
}
.beer-name {
  text-align: center;
}
.beer-description {
  text-align: center
}

.beer-ABV {
  text-align: center;
  font-weight: bold;
  border: 1px solid $color-secondary;
  width: 100px;
  margin-left: 100px;
  
}

}